
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/Style.css">
    
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title> Mahalakshmi GS</title>
    </head>
<body>
    <div class="box">
    <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/clothing">Clothing</a></li>
        <li> <a href="/electronics">Electronics</a></li>
        <li> <a href="/books">Books</a></li>
        </ul>
    
        <div class="icon">
        <img src="static/images/cart.jpg" height="30" width="30" class="cart">
        <h2>3</h2>     
            <form action="/loginForm">
            <input type="submit" value="login">
            </form>
        
        </div>
        
        <h4><font>Mahalakshmi </font>General Stores</h4>
    </div>
    <br/>
    <div class="content">
    <img src="static/images/sale.png" height="540" width="610" class="image">
        <h5>the most loved store</h5>
        <h6>All that you need in one place</h6>
      
        
    </div>   
    
   </body>
</html>

