<html>
<head>
<title>	First flask app </title>
<link rel="stylesheet" type="text/css" href="static\css\login.css">
</head>
<body>
<p> {{error}} </p>
<div class="login">
	<h1>Login to Web App</h1>
	<form method="post" action="/loginForm">
	  <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
	  <p><input type="password" name="password" value="" placeholder="Password"></p>

	  <p class="submit"><input type="submit" name="commit" value="Login"></p>
	  <a href="/registerationForm">Register here</a>
	</form>
  </div>
  

</body>
</html>
